.heroTextBox {
  margin: 5rem 0 12rem 4rem;
  height: 50vh;
}
.headingPrimary {
  font-size: 4.4rem;
}

.heroDescription {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  letter-spacing: 1;
  margin-bottom: 4rem;
}
